# Ignorar arquivos de configuração e pastas de cache
/.android/
/.cache/
/.coder-ide/
/.config/
/.docker/
/.dotnet/
/.emulator_console_auth_token
/.gem/
/gnome/
/gnupg/
/gradle/
/java/
/jdks/
/lesshst
/.local/
/m2/
/mkshrc
/.npm/
/nvm/
/openssl/
/pki/
/profile
/quokka/
/rdsauderc
/redhat/
/rvm/
/sonarlint/
/ssh/
/sudo_as_admin_successful
/.vscode-react-native/
/.vscode/
/wget-hsts/
/yarn/
/yarnrc/
/zlogin
/zshrc

# Ignorar diretórios de usuários e arquivos pessoais
/Documents/
/Downloads/
/Pictures/
/Videos/
/snap/
/venv/

/hs_err_pid*.log

# Ignorar tudo na pasta pai
../*